<div class="col-12 justify-content-center" id="spinner">
    <div class="spinner-border text-light spinner-blue tbm_spinner" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="col-12 justify-content-center middleItem"><h4>{{t.manageAccess}}</h4></div>
<div class="col-12">
    <div class="row d-flex justify-content-center">
        {{#jobGrades}}
        <div class="col-2 middleGroup rounded-3">
            <div class="middleItem">{{{label}}}</div>
            <div class="form-check form-switch" onclick="toggleAccessOpen({{id}})">
                <input class="form-check-input" type="checkbox" id="toggleAccessOpen{{id}}" {{#canOpen}}checked{{/canOpen}}>
                <label class="form-check-label" for="toggleAccessOpen{{id}}">{{{t.open_storage}}}</label>
            </div>
            <div class="form-check form-switch" onclick="toggleAccessPut({{id}})">
                <input class="form-check-input" type="checkbox" id="toggleAccessPut{{id}}" {{#canPut}}checked{{/canPut}}>
                <label class="form-check-label" for="toggleAccessPut{{id}}">{{{t.put_into_storage}}}</label>
            </div>
            <div class="form-check form-switch" onclick="toggleAccessTake({{id}})">
                <input class="form-check-input" type="checkbox" id="toggleAccessTake{{id}}" {{#canTake}}checked{{/canTake}}>
                <label class="form-check-label" for="toggleAccessTake{{id}}">{{{t.can_take_from_storage}}}</label>
            </div>
            <div class="form-check form-switch" onclick="toggleAccessCanUpgrade({{id}})">
                <input class="form-check-input" type="checkbox" id="toggleAccessTake{{id}}" {{#canUpgrade}}checked{{/canUpgrade}}>
                <label class="form-check-label" for="toggleAccessTake{{id}}">{{{t.can_upgrade_storage}}}</label>
            </div>
        </div>
        {{/jobGrades}}
    </div>
</div>
<div class="d-flex justify-content-center middleItem rounded-3">
    <button type="button" class="btn btn-success" id="backToStorage">{{{t.backToStorage}}}</button>
</div>
