<div class="col-12 justify-content-center" id="spinner">
    <div class="spinner-border text-light spinner-blue tbm_spinner" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="col-5 inventory">
    <div class="row justify-content-end overflow-auto scrollbar-primary" id="inventory">
        {{#playerItems}}
        <div class="col-sm-3 rounded-3 itemCard" id="item_{{name}}_inventory" {{^useImages}} style="height: 80px" {{
        /useImages}}>
        {{#useImages}}
        <img src="items/{{name}}.png" class="card-img-top rounded mx-auto d-block">
        {{/useImages}}
        <div>{{t.count}}: <span class="amount"> {{count}}</span></div>
        <div id="{{name}}_label" class="label">
            <span>{{label}}</span>
        </div>
        <input type="hidden" class="name" value="{{name}}">
        <input type="hidden" class="isWeapon" value="0">
        <input type="hidden" class="ammo" value="0">
    </div>
    {{/playerItems}}
    {{#playerWeapons}}
    <div class="col-sm-3 rounded-3 itemCard" id="item_{{name}}_inventory" {{^useImages}} style="height: 80px" {{
    /useImages}}>
    {{#useImages}}
    <img src="items/{{name}}.png" class="card-img-top rounded mx-auto d-block">
    {{/useImages}}
    {{^handleWeaponsLikeItems}}
        <div>{{t.ammo}}:<span> {{count}}</span></div>
        <span class="amount" style="visibility: hidden">1</span>
        <input type="hidden" class="ammo" value="{{count}}">
    {{/handleWeaponsLikeItems}}
    {{#handleWeaponsLikeItems}}
        <div>{{t.count}}: <span class="amount">1</span></div>
        <input type="hidden" class="ammo" value="0">
    {{/handleWeaponsLikeItems}}
    <div id="{{name}}_label" class="label">
        <span>{{label}}</span>
    </div>
    <input type="hidden" class="name" value="{{name}}">
    <input type="hidden" class="isWeapon" value="1">
</div>
{{/playerWeapons}}
</div>
</div>
<div class="col-2">
    <div class="row">
        <div class="d-flex justify-content-center middleItem">
            {{t.storage_number}}
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center middleItem">
            {{storage_number}}
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center middleItem">
            {{t.capacity}}
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center middleItem">
            <span id="currentUsedStorage">{{currentUsedStorage}}</span>&nbsp/&nbsp<span id="maxStorage">{{maxStorage}}</span>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center middleItem">
            <input type="number" class="form-control form-control-sm rounded-3" id="amount" min="1" placeholder="{{t.count}}" value="1">
        </div>
    </div>
    {{#nextStorageCapacity}}
    <div class="row">
        <div class="d-flex justify-content-center middleItem">
            <button type="button" class="btn btn-success" id="extendStorage">{{{t.extendStorage}}}</button>
        </div>
    </div>
    {{/nextStorageCapacity}}
    {{^isPlayerNotBoss}}
    <div class="row">
        <div class="d-flex justify-content-center middleItem">
            <button type="button" class="btn btn-success" id="loadManageAccess">{{{t.manageAccess}}}</button>
        </div>
    </div>
    {{/isPlayerNotBoss}}
</div>
<div class="col-5 storage">
    <div class="row justify-content-start overflow-auto scrollbar-primary" id="storage">
        {{#storageItems}}
        <div class="col-sm-3 rounded-3 itemCard" id="item_{{name}}_storage" {{^useImages}} style="height: 80px" {{
        /useImages}}>
        {{#useImages}}
        <img src="items/{{name}}.png" class="card-img-top rounded mx-auto d-block">
        {{/useImages}}
        <div>{{t.count}}: <span class="amount">{{count}}</span></div>
        <div id="{{name}}_label" class="label">
            <span>{{label}}</span>
        </div>
        <input type="hidden" class="name" value="{{name}}">
        <input type="hidden" class="isWeapon" value="0">
        <input type="hidden" class="ammo" value="0">
    </div>
    {{/storageItems}}
    {{#storageWeapons}}
    <div class="col-sm-3 rounded-3 itemCard" id="item_{{name}}_storage" {{^useImages}} style="height: 80px" {{
    /useImages}}>
    {{#useImages}}
    <img src="items/{{name}}.png" class="card-img-top rounded mx-auto d-block">
    {{/useImages}}
    {{^handleWeaponsLikeItems}}
        <div>{{t.ammo}}:<span> {{count}}</span></div>
        <span class="amount" style="visibility: hidden">1</span>
        <input type="hidden" class="ammo" value="{{count}}">
    {{/handleWeaponsLikeItems}}
    {{#handleWeaponsLikeItems}}
        <div>{{t.count}}: <span class="amount">{{count}}</span></div>
        <input type="hidden" class="ammo" value="0">
    {{/handleWeaponsLikeItems}}
    <div id="{{name}}_label" class="label">
        <span>{{label}}</span>
    </div>
    <input type="hidden" class="name" value="{{name}}">
    <input type="hidden" class="isWeapon" value="1">
</div>
{{/storageWeapons}}
</div>
</div>
