#snake {
    /* left: 0%!important; */
    background-color: rgb(197, 223, 70);
    font-family: "Snake";
    font-weight: bold;
    color: black;;
} 


#snake-game {
    /* margin-right: 0%; */
    grid-column: 2/3;
    grid-row: 2/4;
}

#snake-home {
    margin-right: 0%;
    grid-column: 2/3;
    grid-row: 2/4;
}


#snake-highscoretab {
    /* margin-right: 0%; */
    grid-column: 2/3;
    grid-row: 2/4;
}

#snake-canvas {
    position: relative;
    width: 26vh;
    height: 26vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}

#snake-score {
    position: relative;
    width: 26vh;
    height: 3vh;
    border-top: 2px solid rgb(46, 52, 16);
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    padding-left: 1vh;
    align-items: center;
    font-size: 1.75vh;
    color: rgb(46, 52, 16);
}


.food {
    position: absolute;
    top: 1vh;
    left: 1vh;
    width: 1vh;
    height: 1vh;
    background-color: rgb(249, 25, 25);
}

.head {
    position: absolute;
    left: 1vh;
    top: 1vh;
    width: 1vh;
    height: 1vh;
    background-color: rgb(34, 161, 40);
    border: 0.1px solid rgb(34, 34, 34);
}

.snake-headline {
    width: 100%;
    height: 5vh;
    font-size: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snake-select {
    width: 100%;
    height: 4vh;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: 0.5s;
    padding-left: 1vh;
    white-space: nowrap;
}

.snake-select:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(197, 223, 70);
}

#snake-gameover {
    position: absolute;

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5vh;
    text-align: center;

    transform: rotate(-10deg);
}

#snake-highscore {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2vh;
    text-align: center;
}

#snake-yourscore {
    position: absolute;
    top: 75%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2vh;
    text-align: center;

}

#snake-homebutton {
    position: absolute;
    left: 7vh;
    bottom: 4vh;
    width: 15vh;
    height: 4vh;

    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 1);
    color: rgb(197, 223, 70);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition: 0.5s;
}

#snake-homebutton:hover {
    background-color: rgb(48, 48, 48);

    transition: 0.5s;
}

#snake-playagain {
    position: absolute;
    left: 5vh;
    bottom: 14vh;
    width: 20vh;
    height: 4vh;

    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 1);
    color: rgb(197, 223, 70);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition: 0.5s;
}

#snake-playagain:hover {
    background-color: rgb(48, 48, 48);

    transition: 0.5s;
}

#snake-highscoretab > div > table {
    width: 80%;
    margin-left: 10%;
    text-align: center;

}

.headline {
    font-size: 1.5vh;
    font-weight: bold;
}

#snake-instruction {
    position: absolute;
    background: black;
    color: rgb(197, 223, 70);
    z-index: 3;

    width: 80%;
    left: 10%;
    top: 25%;
    height: 25%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}