html {
  overflow-y: hidden;
}
 
@font-face {
    font-family: 'handwritingfont2';
    src: url('../fonts/MowgliScript.otf') format('opentype');
}  
body {
  font: 12px/20px "handwritingfont2", sans-serif;
  color: #404040;
  background: trans;
}
#main {
  display: none;
}
.notepad,
.notepad:after,
.notepad:before {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
}
textarea::-webkit-scrollbar {
  width: 4px;
}
textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}
textarea::-webkit-scrollbar-thumb {
  background: #888;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.button {
  background-color: rgb(255, 80, 176);
  border: none;
  color: #fff;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  line-height: 23px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.5;
}
textarea {
  resize: none;
  height: 350px;
  width: 560px;
  background: 0 0;
  outline: 0;
  border: none;
}
.notepad {
  position: relative;
  margin: 27% 59%;
  padding: 0 23px 14px 35px;
  width: 600px;
  line-height: 50px;
  font-size: 35px;
  font-family: "handwritingfont2";
  background-image: url('../img/background.png');
  background-position: center;
  background-size: cover;
  color: #333;
}
.notepad blockquote,
.notepad p {
  margin-bottom: 93px;
}
.notepad :last-child {
  margin-bottom: 0;
}
.notepad:after,
.notepad:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 3px;
  right: 3px;
  margin-top: -2px;
  height: 4px;
  background-size: 1px 1px, 1px 1px, 0 0;
}
.notepad:before {
  z-index: -2;
  left: 6px;
  right: 6px;
  height: 6px;
  background-color: #eee;
}
.notepad-heading:after,
.notepad-heading:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 1px;
  right: 1px;
  height: 0;
  border-top: 1px dashed #0091ff;
  border-color: rgba(255, 255, 255, 0.35);
}
.notepad-heading:after {
  bottom: 3px;
  border-color: #071c2c;
  border-color: rgba(0, 0, 0, 0.5);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(41, 41, 41);
    opacity: 1; /* Firefox */
  }