.marketsection {
    float: left;
    width: 47.5%;
    height: 25vh;
    overflow: hidden;
    margin-left: 2vh;
    border-radius: 1vh;
    margin-top: -1%;
}

.marketinput {
    width: 100%!important;
    height: 11vh!important;
    line-height: 10vh!important;
    font-size: 5vh!important;
    text-align: center!important;
    color: white!important;
    background-color: rgb(25, 25, 25)!important;
    border: none!important;
    border-radius: 1vh!important;
}

.marketinput:focus {
    border: none!important;
    outline: none!important;
}

.marketinput:active {
    border: none!important;
    outline: none!important;
}

.marketbutton {
    width: 100%!important;
    height: 11vh!important;
    line-height: 10vh!important;
    font-size: 7vh!important;
    font-weight: bold!important;
    text-align: center!important;
    color: white!important;
    border: none!important;
    border-radius: 1vh!important;
}

.marketbuy {
    background: rgb(93, 182, 93)!important;
}

.marketbuy:hover {
    background: rgb(83, 161, 83)!important;
    transition: 0.5s;
}

.marketsell {
    background: rgb(230, 86, 86)!important;
}

.marketsell:hover {
    background: rgb(207, 78, 78)!important;
    transition: 0.5s;
}