.shop {
    width: 100%;
    height: 90%;
    padding: 1vh;
    overflow-y: scroll;
    white-space: nowrap;
}

.shopheader {
    position: relative;
    background: #191919;
    left: 22.5vh;
    width: 75vh;
    height: 6vh;
    border-radius: 2vh;
    overflow: hidden
}

.shopheaderelement {
    float: left;
    width: 25vh;
    height: 6vh;
    padding: 1vh;
    line-height: 4vh;
    text-align: center;
    font-size: 3vh;
}

.shopheaderelement>i {
    font-size: 2.8vh;
}

.shopheaderelement:hover {
    background-color: rgb(139, 166, 226);
    transition: 0.5s;
}

.shopactive{
    background-color: rgb(139, 166, 226);
}

.shopsection {
    width: 100%;
    height: 74vh;
    padding: 1vh;
    overflow-y: auto;
}

.shopelement {
    float: left;
    background: #191919;
    width: 35vh;
    height: 25vh;
    border-radius: 2vh;
    padding: 1vh;
    margin-right: 5vh;
    margin-top: 2vh;
}

.shopelementheader  {
    width: 100%;
    height: 6vh;
    line-height: 4vh;
    font-size: 2.5vh;
    text-align: center;
    padding: 1vh;
    border-bottom: 0.5vh solid rgb(139, 166, 226);
}

.shopelementbody  {
    margin-top: 0.5vh;
    width: 100%;
    height: 10vh;
    line-height: 4vh;
    font-size: 2.25vh;
    font-weight: 500;
}

.shopelementfooter {
    height: 7vh;
    width: 100%;
}

.shopelementbuybutton {
    width: 80%;
    margin-left: 10%;
    height: 6vh;
    background: rgb(83, 216, 83);
    color: white;
    outline: none;
    border: none;
    font-size: 3vh;
    font-weight: 600;
    border-radius: 1vh;
}

.shopelementbuybutton:hover {
    background: rgb(76, 199, 76);
    transition: 0.5s;
}

.alreadyownthis {
    background: rgb(134, 83, 216);
}

.alreadyownthis:hover {
    background: rgb(107, 66, 172);
    transition: 0.5s;
}