@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-white: #fff;
    --clr-text: #7a7a7a;
    --clr-black: #000;
    --clr-purple: #f601fe;
    --clr-dark-purple: #450247;
    --clr-grey: #121212;
    --clr-light-grey: rgba(255, 255, 255, .05);

    --ff-basic: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2vh;
    color: var(--clr-text);
    font-weight: 500;
    font-family: var(--ff-basic);
    /* background: #0a0a0a; */
    /* background: url(../img/bg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

img {
    width: 100%;
}

.main__invite-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;

}

.main__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    transform: skew(-10deg);
}

.main__header p {
    font-size: 3.5vh;
    letter-spacing: -.1vh;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--clr-white);
}

.main__bottom-header-box {
    padding: 1.5vh;
    background: var(--clr-purple);
    box-shadow: 0vh 0vh 1vh var(--clr-purple);
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
}

.main__bottom-header-box p {
    font-size: 1.75vh !important; 
}

.main__information-container {
    width: 100%;
    background: rgba(255, 255, 255, .05);
    margin-top: 3vh;
}

.main__information-bg-container {
    width: 100%;
    padding: 1.5vh;
    background: #7f1ba367;
    border: .3vh solid;
    border-image-source: linear-gradient(0deg, #be0cff00 0%, #be0cff79 100%);
    border-image-slice: 1;
}

.main__information-header {
    font-size: 1.75vh;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .75);
    transform: skew(-10deg);
    font-weight: 700;
    text-shadow: 0vh 0vh 1vh rgba(255, 255, 255, .75);
}

.main__information-text {
    text-transform: uppercase;
    transform: skew(-10deg);
    font-size: 1.5vh;
    margin-top: .5vh;
    color: rgba(255, 255, 255, .75);
}

.main__information-text p span {
    color: var(--clr-purple);
    font-weight: 600;
    text-shadow: 0vh 0vh 1vh var(--clr-purple);
}

.main__sphere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    background: var(--clr-purple);
    filter: blur(20vh);
    z-index: -1;
}

.main__bottom-flexbox-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
    margin-top: 2vh;
}

.main__bottom-accept,
.main__bottom-decline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.main__bottom-accept-header {
    font-size: 4vh;
    text-transform: uppercase;
    color: var(--clr-purple);
    text-shadow: 0vh 0vh 1vh var(--clr-purple);
    font-weight: 700;
    transform: skew(-10deg);
}
/* 
.main__bottom-accept-text {
    font-size: 2vh;
    text-transform: uppercase;
    color: var(--clr-purple);
    text-shadow: 0vh 0vh 1vh var(--clr-purple);
    font-weight: 600;
    transform: skew(-10deg);
    transition: .2s ease-in;
    cursor: pointer;
} */

.main__bottom-accept-text:hover,
.main__bottom-decline-text:hover {
    transform: scale(1.1) skew(-10deg);
    text-shadow: 0vh 0vh 2vh var(--clr-purple);
    color: var(--clr-purple);
}

.main__bottom-decline-header {
    font-size: 4vh;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    text-shadow: 0vh 0vh 1vh rgba(255, 255, 255, .5);
    font-weight: 700;
    transform: skew(-10deg);
}

.main__bottom-decline-text,
.main__bottom-accept-text {
    font-size: 2vh;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    text-shadow: 0vh 0vh 1vh rgba(255, 255, 255, .5);
    font-weight: 600;
    transform: skew(-10deg);
    transition: .2s ease-in;
    cursor: pointer;
}